.log-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 32px;
  color: black;
  background-color: #1ed760;
  text-decoration: none;
  border-radius: 500px;
}
